---
import './Header.css';
---
<div class="header">
    <div class="linksContainer">
        <a href="/" class="headerLink">Home</a>
        <a href="/display" class="headerLink">Display</a>
        <a href="/support" class="headerLink">Support</a>
    </div>
</div>